body {
    font-family: Arial, sans-serif;
    line-height: 1.0;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8d7da;
}

.content {
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.pronunciation {
    font-style: italic;
    color: gray;
}

.part-of-speech {
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 5px;
}

ol {
    margin-top: 5px;
}

ol li {
    margin-bottom: 10px;
}

.example {
    color: gray;
}

.synonyms {
    color: blue;
}

.synonyms-label {
    color: black;
}

/* To-Do List Styles */
.todo-container {
    margin: 0 auto;
    text-align: left;
}

.task-list {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

.task-list th, .task-list td {
    border: 1px solid #ddd;
    padding: 8px;
}

.task-list tr:nth-child(even) {
    background-color: #ccf2ff;
}

.task-list tr:nth-child(odd) {
    background-color: #e6f7ff;
}

.task-list tr:hover {
    background-color: #ddd;
}

.task-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.task-list td {
    text-align: left;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.icon-cross {
    color: red;
}

/* Fruit List Styles */
.fruit-container {
    width: 300px;
    background-color: #f5c6cb;
    padding: 10px;
    
}

.fruit-item {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #f7b0b3;
}

.fruit-item .fruit-name {
    background-color: #d9534f;
    color: white;
    padding: 0 10px;
    margin-left: 10px;
}
